
 .navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: all .5s ease;
    font-size: 18px;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
