.cards{
    /* background-color: rgb(203, 204, 209); */
    background-color: rgb(49, 59, 78);
}
.card-body{
    background-color: rgb(218, 232, 245);
}

.card img{
    transition: all .10s ease;

}
.card:hover{
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
}