<section class="cards">
  <div class="container">
    <div class="row p-5">
      <div class="col-md-4 pb-2">

        <div class="card" style="width: 18rem;">
          <img src="../../assets/images/card1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Consolidates the HR database</h5>
            <p class="card-text">Secure employee information pertaining to every department, designation, location,
              etc. in a single location. Set permissions to allow your HR team and employees to access and edit
              relevant data.</p>
          </div>
        </div>

      </div>

      <div class="col-md-4 pb-2">

        <div class="card" style="width: 18rem;">
          <img src="../../assets/images/card2.jpg" class="card-img-top" alt="..." style="height: 165px;">
          <div class="card-body">
            <h5 class="card-title">Manages time and attendance</h5>
            <p class="card-text">Time and attendance is the process of tracking employee work hours.
              Zoho People takes the tedium out of time management by enabling employees to mark attendance, record
              time spent on projects .</p>
          </div>
        </div>

      </div>


      <div class="col-md-4">

        <div class="card" style="width: 18rem;">
          <img src="../../assets/images/card3.jpg" class="card-img-top" alt="..." style="height: 165px;">
          <div class="card-body">
            <h5 class="card-title">Streamlines schedule management</h5>
            <p class="card-text">Manage multiple shifts, enable shift margins, add shift allowances, and automate shift
              rotations to make shift tracking less tedious. Alert employees whenever there's a change in their shift.
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>

</section>