<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col md-6 my-4">
                <h1 class="text-UpperCase title-text display-3">
                    About Us
                </h1>
              <p>FM:Systems transforms your workplace experience and enables 
                your organization to bring employees together in exceptional, healthy
                 workplaces that enhance productivity and delight occupants.
                 </p><p> Our suite of Workplace Management Solutions provides 
                    actionable insights to optimize every facet of your real 
                    estate portfolio and ensure your ever-ready workplace is
                     prepared for the unexpected.
                     </p><p> Over 1200 customers across more than 80 countries
                         worldwide trust FM:Systems to deliver ideal
                          workplace experiences, including leading companies
                           such as HSBC, Samsung, Banner Health, and Boston University. 
                           </p>
                           <p>FM:Systems is headquartered in Raleigh, North Carolina
                             and conducts business globally.

              </p>
                <a href="#" class="button hvr-right  text-capitalize">
                    Know more
                </a>
            </div>
            <div class="col md-6 about-images my-4 d-none d-lg-block">
                <img src="../../assets/images/img2.jpg" alt="" class="img-1 img-thumbnail about-img">
                <img src="../../assets/images/img1.jpg" alt="" class="img-2 img-thumbnail about-img">
                <img src="../../assets/images/img3.jpg" alt="" class="img-3 img-thumbnail about-img">
                <img src="../../assets/images/img4.jpg" alt="" class="img-4 img-thumbnail about-img">
                <img src="../../assets/images/img5.jpg" alt="" class="img-5 img-thumbnail about-img">
            </div>

        </div>
    </div>
</section>
