<!-- <section class="banner">
    <div class="banner-box">
      <img src="../../assets/images/banner.jpg" alt="banner" class="img" >
    </div>
  </section>  -->


<section class="pic">

  <div class="log d-grid gap-2 d-md-flex justify-content-md-end me-5">
    <button class="btn  btn-lg me-md-2" type="button" routerLink="/login">Login</button>
  </div>
  <!-- banner -->
  <div class="banner text-light text-end ">

    <h1 class="heading display-4 text-center fw-bold ">
        Welcome to ZOHO System
    </h1>
    <p class="main text-center">Say goodbye to spreadsheets and rigid systems.
    </p>

</div>
</section>
<!-- end of banner -->



   


 
