
<div class="container-fluid dashboard ">

    <div class="row mt-5 ">
        <div class="col-6"> </div>
        <div class=" d-grid gap-2 col-4 mx-auto mt-5">
            <button class="btn Empadd fw-bold fs-4" type="button" (click)="EmpAdd()">Add & View Employees</button>
        </div>
    </div>

    <div class="row mt-5 ">
        <div class="col-1"></div>
        <div class="col-10 mt-5 ">
            <div class="col-xl-12 col-lg-12 col-sm-12">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="../../assets/images/dash2.jpg" class="d-block w-100 h-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="../../assets/images/dash3.jpg" class="d-block w-100 h-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                            <img src="../../assets/images/dash4.jpg" class="d-block w-100 h-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>



    </div>





<section class="most-known p-5" id="advantages">

    <div class="container-fluid">
        <div class="col text-center py-5 ">
            <h1 class="text-Upperase text-color fw-bold text-light">
                Zoho People is more than a workforce management software
            </h1>
        </div>
    </div>
    <div class="row justify-content-around align-items-center">
        <div class="col-xl-3 col-lg-4 col-sm rotate">
            <div class="card text-center mb-3 coffee-card">
                <div class="card-header">
                    <h4 class="fw-light title-text">Why does Business need an EMS</h4>
                </div>
                <div class="card-body">
                    <img src="../../assets/images/adv2.jpg" alt="" class="img-fluid rounded">
                </div>
                
                <div class="back">
                    <div class="back-content container-fluid">
                        <p class="text-UpperCase fw-light ">An employee management system or EMS is a tool that helps
                            improve employee satisfaction and productivity to help a company achieve
                            their overall goals.</p>
                        <a href="https://connecteam.com/employee-management-system-smb/" class="button hvr-right my-4 text-capitalize"> know more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm rotate">
            <div class="card text-center mb-3 coffee-card">
                <div class="card-header">
                    <h4 class="fw-light title-text">Employee Onboarding</h4>
                </div>
                <div class="card-body">
                    <img src="../../assets/images/adv3.jpg" alt="" class="img-fluid rounded">
                </div>
                
                <div class="back">
                    <div class="back-content container-fluid">
                        <p class="text-UpperCase fw-light">
                            employee onboarding is the process of integrating a new employee with a company and its culture, as well as 
                            getting a new hire the tools and information needed to become a productive member of the team.
                        </p>
                        <a href="https://www.zoho.com/people/onboarding-software.html?src=ft" class="button hvr-right my-4 text-capitalize">To Know more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm rotate">
            <div class="card text-center mb-3 coffee-card">
                <div class="card-header">
                    <h4 class="fw-light title-text">Shift Scheduling</h4>
                </div>
                <div class="card-body">
                    <img src="../../assets/images/adv4.png" alt="" class="img-fluid rounded">
                </div>
                
                <div class="back">
                    <div class="back-content container-fluid">
                        <p class="text-UpperCase fw-light">Built to streamline employee shift scheduling 
                            and manage multiple rosters smoothly, Zoho People’s shift management system is
                             flexible, dynamic, and customizable to your needs.</p>
                        <a href="https://www.zoho.com/people/employee-shift-scheduling.html?src=ft" class="button hvr-right my-4 text-capitalize">To Know more</a>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="row justify-content-around align-items-center">
        <div class="col-xl-3 col-lg-4 col-sm rotate">
            <div class="card text-center mb-3 coffee-card">
                <div class="card-header">
                    <h4 class="fw-light title-text">Data Security</h4>
                </div>
                <div class="card-body">
                    <img src="../../assets/images/adv5.jpg" alt="" class="img-fluid rounded">
                </div>
                
                <div class="back">
                    <div class="back-content container-fluid">
                        <p class="text-UpperCase fw-light ">
                            HR departments usually hold an abundance of sensitive data for 
                            employees and it becomes their responsibility to protect the
                             availability and integrity of this data.
                        </p>
                        <a href="https://www.naturalhr.com/2019/11/22/data-security-in-hr-encouraging-your-employees-to-be-security-savvy/" class="button hvr-right my-4 text-capitalize">To know more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm rotate">
            <div class="card text-center mb-3 coffee-card">
                <div class="card-header">
                    <h4 class="fw-light title-text">Rewards and Recognition</h4>
                </div>
                <div class="card-body">
                    <img src="../../assets/images/adv6.png" alt="" class="img-fluid rounded">
                </div>
                
                <div class="back">
                    <div class="back-content container-fluid">
                        <p class="text-UpperCase fw-light ">Rewards and recognition may be monetary (bonuses) or non-monetary
                             (acknowledgement in a company newsletter or during a regular team meeting). 
                             They may also be tokens that cost money such as gifts or celebratory meals.</p>
                        <a href="https://www.managementstudyguide.com/employee-rewards-recognition.htm" class="button hvr-right my-4 text-capitalize">To know more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm rotate">
            <div class="card text-center mb-3 coffee-card">
                <div class="card-header">
                    <h4 class="fw-light title-text">Key insights about your workforce</h4>
                </div>
                <div class="card-body">
                    <img src="../../assets/images/adv7.png" alt="" class="img-fluid rounded">
                </div>
               
                <div class="back">
                    <div class="back-content container-fluid">
                        <p class="text-UpperCase fw-light">HR reports are vital for improving your employee experience.
                             By analyzing employee data, these reports provide the information you need to
                             make informed decisions and optimize your people management strategies.</p>
                        <a href="https://www.zoho.com/blog/people/make-faster-more-effective-hr-decisions-with-the-all-new-consolidated-reports-in-zoho-people.html?src=EmployeeManagementBlog" class="button hvr-right my-4 text-capitalize">To know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</div>